In [832]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
mpl.style.use('ggplot')

import warnings
warnings.filterwarnings('ignore')

In [833]:
df_train= pd.read_csv('train_BRCpofr.csv')
df_train.head()

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv
0,1,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum,64308
1,2,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum,515400
2,3,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum,64212
3,4,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum,97920
4,5,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold,59736

In [834]:
df_test= pd.read_csv('test_koRSKBP.csv')
df_test.head()

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy
0,89393,Female,Rural,High School,5L-10L,0,6,2134,More than 1,B,Silver
1,89394,Female,Urban,High School,2L-5L,0,4,4102,More than 1,A,Platinum
2,89395,Male,Rural,High School,5L-10L,1,7,2925,More than 1,B,Gold
3,89396,Female,Rural,Bachelor,More than 10L,1,2,0,More than 1,B,Silver
4,89397,Female,Urban,High School,2L-5L,0,5,14059,More than 1,B,Silver

In [835]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89392 entries, 0 to 89391
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              89392 non-null  int64
 1   gender          89392 non-null  object
 2   area            89392 non-null  object
 3   qualification   89392 non-null  object
 4   income          89392 non-null  object
 5   marital_status  89392 non-null  int64
 6   vintage         89392 non-null  int64
 7   claim_amount    89392 non-null  int64
 8   num_policies    89392 non-null  object
 9   policy          89392 non-null  object
 10  type_of_policy  89392 non-null  object
 11  cltv            89392 non-null  int64
dtypes: int64(5), object(7)
memory usage: 8.2+ MB

In [836]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59595 entries, 0 to 59594
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              59595 non-null  int64
 1   gender          59595 non-null  object
 2   area            59595 non-null  object
 3   qualification   59595 non-null  object
 4   income          59595 non-null  object
 5   marital_status  59595 non-null  int64
 6   vintage         59595 non-null  int64
 7   claim_amount    59595 non-null  int64
 8   num_policies    59595 non-null  object
 9   policy          59595 non-null  object
 10  type_of_policy  59595 non-null  object
dtypes: int64(4), object(7)
memory usage: 5.0+ MB

In [837]:
df = df_train.append(df_test)

In [838]:
df

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv
0,1,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum,64308.0
1,2,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum,515400.0
2,3,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum,64212.0
3,4,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum,97920.0
4,5,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold,59736.0
...,...,...,...,...,...,...,...,...,...,...,...,...
59590,148983,Male,Rural,Bachelor,5L-10L,1,6,0,1,A,Silver,NaN
59591,148984,Male,Urban,High School,5L-10L,0,6,0,1,C,Gold,NaN
59592,148985,Female,Urban,High School,2L-5L,1,4,3323,More than 1,B,Platinum,NaN
59593,148986,Male,Rural,Bachelor,5L-10L,0,1,2886,More than 1,A,Silver,NaN
59594,148987,Female,Urban,Bachelor,5L-10L,1,4,5939,More than 1,B,Platinum,NaN

In [839]:
df.describe()

,id,marital_status,vintage,claim_amount,cltv
count,148987.000000,148987.000000,148987.000000,148987.000000,89392.000000
mean,74494.000000,0.576064,4.605523,4358.303201,97952.828978
std,43008.986615,0.494182,2.287299,3272.692800,90613.814793
min,1.000000,0.000000,0.000000,0.000000,24828.000000
25%,37247.500000,0.000000,3.000000,2402.000000,52836.000000
50%,74494.000000,1.000000,5.000000,4095.000000,66396.000000
75%,111740.500000,1.000000,6.000000,6098.000000,103440.000000
max,148987.000000,1.000000,8.000000,32534.000000,724068.000000

In [840]:
df.isnull().mean()

id                0.000000
gender            0.000000
area              0.000000
qualification     0.000000
income            0.000000
marital_status    0.000000
vintage           0.000000
claim_amount      0.000000
num_policies      0.000000
policy            0.000000
type_of_policy    0.000000
cltv              0.400001
dtype: float64

In [841]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148987 entries, 0 to 59594
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              148987 non-null  int64
 1   gender          148987 non-null  object
 2   area            148987 non-null  object
 3   qualification   148987 non-null  object
 4   income          148987 non-null  object
 5   marital_status  148987 non-null  int64
 6   vintage         148987 non-null  int64
 7   claim_amount    148987 non-null  int64
 8   num_policies    148987 non-null  object
 9   policy          148987 non-null  object
 10  type_of_policy  148987 non-null  object
 11  cltv            89392 non-null   float64
dtypes: float64(1), int64(4), object(7)
memory usage: 14.8+ MB

In [842]:
df.area.unique()

array(['Urban', 'Rural'], dtype=object)

In [843]:
df.gender.unique()

array(['Male', 'Female'], dtype=object)

In [844]:
df.marital_status.unique()

array([1, 0], dtype=int64)

In [845]:
df.num_policies.unique()

array(['More than 1', '1'], dtype=object)

In [846]:
df.qualification.unique()

array(['Bachelor', 'High School', 'Others'], dtype=object)

In [847]:
df.income.unique()

array(['5L-10L', 'More than 10L', '2L-5L', '<=2L'], dtype=object)

In [848]:
df.policy.unique()

array(['A', 'C', 'B'], dtype=object)

In [849]:
df.type_of_policy.unique()

array(['Platinum', 'Gold', 'Silver'], dtype=object)

In [850]:
df.vintage.unique()

array([5, 8, 7, 6, 1, 0, 3, 4, 2], dtype=int64)

### encoding and changing datatypes

In [851]:
df['area']=df.area.map({'Urban':'0' ,'Rural':'1'})
df['gender']=df.gender.map({'Female':'0' ,'Male':'1'}).astype('object')
df['vintage'] = df.vintage.astype('object')
df['num_policies'] =df.num_policies.map({'More than 1':'1' ,'1':'0'})

In [852]:
df.qualification=df.qualification.str.replace('High School','High_School')

In [853]:
df['area']

0        0
1        1
2        0
3        1
4        0
        ..
59590    1
59591    0
59592    0
59593    1
59594    0
Name: area, Length: 148987, dtype: object

In [854]:
df.income =df.income.map({'5L-10L':'5L_10L' ,'More than 10L':'More_than_10L' ,'2L-5L':'2L_5L','<=2L':'0L_2L'})

In [855]:
df['marital_status'] = df.marital_status.astype('object')
df['claim_amount'] = df.claim_amount.astype('int64')
df['cltv'] = df.cltv.astype('int64')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [856]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148987 entries, 0 to 59594
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              148987 non-null  int64
 1   gender          148987 non-null  object
 2   area            148987 non-null  object
 3   qualification   148987 non-null  object
 4   income          148987 non-null  object
 5   marital_status  148987 non-null  object
 6   vintage         148987 non-null  object
 7   claim_amount    148987 non-null  int64
 8   num_policies    148987 non-null  object
 9   policy          148987 non-null  object
 10  type_of_policy  148987 non-null  object
 11  cltv            89392 non-null   float64
dtypes: float64(1), int64(2), object(9)
memory usage: 14.8+ MB

In [857]:
df=df.drop(['id'],axis=1)

In [858]:
df.head(5)

,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv
0,1,0,Bachelor,5L_10L,1,5,5790,1,A,Platinum,64308.0
1,1,1,High_School,5L_10L,0,8,5080,1,A,Platinum,515400.0
2,1,0,Bachelor,5L_10L,1,8,2599,1,A,Platinum,64212.0
3,0,1,High_School,5L_10L,0,7,0,1,A,Platinum,97920.0
4,1,0,High_School,More_than_10L,1,6,3508,1,A,Gold,59736.0

In [859]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148987 entries, 0 to 59594
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   gender          148987 non-null  object
 1   area            148987 non-null  object
 2   qualification   148987 non-null  object
 3   income          148987 non-null  object
 4   marital_status  148987 non-null  object
 5   vintage         148987 non-null  object
 6   claim_amount    148987 non-null  int64
 7   num_policies    148987 non-null  object
 8   policy          148987 non-null  object
 9   type_of_policy  148987 non-null  object
 10  cltv            89392 non-null   float64
dtypes: float64(1), int64(1), object(9)
memory usage: 13.6+ MB

In [860]:
## Seperating Numerical variables and Categorical variables:
Numeric_data = df.columns[df.dtypes != 'object']
Cat_data = df.columns[df.dtypes == 'object']

Num_Vars = df[Numeric_data]
Cat_Vars = df[Cat_data]
Y_Var = df[['cltv']]
display('Num_Vars',Num_Vars.head(3),Num_Vars.shape,'Cat_Vars',Cat_Vars.head(3),Cat_Vars.shape,'Y_Var',Y_Var.head(3),Y_Var.shape)

'Num_Vars'

   claim_amount      cltv
0          5790   64308.0
1          5080  515400.0
2          2599   64212.0

(148987, 2)

'Cat_Vars'

,gender,area,qualification,income,marital_status,vintage,num_policies,policy,type_of_policy
0,1,0,Bachelor,5L_10L,1,5,1,A,Platinum
1,1,1,High_School,5L_10L,0,8,1,A,Platinum
2,1,0,Bachelor,5L_10L,1,8,1,A,Platinum

(148987, 9)

'Y_Var'

       cltv
0   64308.0
1  515400.0
2   64212.0

(148987, 1)

In [861]:
Num_Vars = Num_Vars.drop('cltv',axis=1)
Num_Vars.head(3)

   claim_amount
0          5790
1          5080
2          2599

In [862]:
Cat_Vars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148987 entries, 0 to 59594
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   gender          148987 non-null  object
 1   area            148987 non-null  object
 2   qualification   148987 non-null  object
 3   income          148987 non-null  object
 4   marital_status  148987 non-null  object
 5   vintage         148987 non-null  object
 6   num_policies    148987 non-null  object
 7   policy          148987 non-null  object
 8   type_of_policy  148987 non-null  object
dtypes: object(9)
memory usage: 11.4+ MB

### Creating dummy variables of Cateforical Variables:

In [863]:
dummy_vars = pd.get_dummies(Cat_Vars, drop_first=True)
dummy_vars

,gender_1,area_1,qualification_High_School,qualification_Others,income_2L_5L,income_5L_10L,income_More_than_10L,marital_status_1,vintage_1,vintage_2,...,vintage_4,vintage_5,vintage_6,vintage_7,vintage_8,num_policies_1,policy_B,policy_C,type_of_policy_Platinum,type_of_policy_Silver
0,1,0,0,0,0,1,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
1,1,1,1,0,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,1,0
2,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,1,1,0,0,1,0
3,0,1,1,0,0,1,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
4,1,0,1,0,0,0,1,1,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59590,1,1,0,0,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
59591,1,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
59592,0,0,1,0,1,0,0,1,0,0,...,1,0,0,0,0,1,1,0,1,0
59593,1,1,0,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
59594,0,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,1,1,0,1,0

In [864]:
df_final = pd.concat([Num_Vars, dummy_vars, Y_Var], axis=1)

df_final

,claim_amount,gender_1,area_1,qualification_High_School,qualification_Others,income_2L_5L,income_5L_10L,income_More_than_10L,marital_status_1,vintage_1,...,vintage_5,vintage_6,vintage_7,vintage_8,num_policies_1,policy_B,policy_C,type_of_policy_Platinum,type_of_policy_Silver,cltv
0,5790,1,0,0,0,0,1,0,1,0,...,1,0,0,0,1,0,0,1,0,64308.0
1,5080,1,1,1,0,0,1,0,0,0,...,0,0,0,1,1,0,0,1,0,515400.0
2,2599,1,0,0,0,0,1,0,1,0,...,0,0,0,1,1,0,0,1,0,64212.0
3,0,0,1,1,0,0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,97920.0
4,3508,1,0,1,0,0,0,1,1,0,...,0,1,0,0,1,0,0,0,0,59736.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59590,0,1,1,0,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,NaN
59591,0,1,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,NaN
59592,3323,0,0,1,0,1,0,0,1,0,...,0,0,0,0,1,1,0,1,0,NaN
59593,2886,1,1,0,0,0,1,0,0,1,...,0,0,0,0,1,0,0,0,1,NaN
59594,5939,0,0,0,0,0,1,0,1,0,...,0,0,0,0,1,1,0,1,0,NaN

In [865]:
df_final_test = df_final[df_final['cltv'].isna()]
df_final = df_final[df_final['cltv'].notna()]

In [866]:
df_final_test.drop('cltv',axis=1,inplace=True)

In [867]:
df_final.cltv=df_final.cltv.astype('int64')

### Section 2: Feature Reduction

In [868]:
X=df_final.drop('cltv',axis=1)
y=df_final['cltv']

In [869]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.80, random_state=84)
x_train.shape, y_train.shape, x_test.shape,y_test.shape

((71513, 22), (71513,), (17879, 22), (17879,))

## GradientBoostingRegressor

In [870]:
from sklearn.ensemble import GradientBoostingRegressor
gd_model = GradientBoostingRegressor (alpha=0.18, ccp_alpha=0.0,
                          init=None, learning_rate=0.09, max_depth=3,
                          max_features=7, max_leaf_nodes=6,
                            min_impurity_decrease=0.0,
                          min_samples_leaf=6, min_samples_split=5,
                          min_weight_fraction_leaf=0.0, n_estimators=186,
                          n_iter_no_change=None,
                          random_state=126, subsample=0.9, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)
gd_model.fit(x_train, y_train)

GradientBoostingRegressor(alpha=0.18, learning_rate=0.09, max_features=7,
                          max_leaf_nodes=6, min_samples_leaf=6,
                          min_samples_split=5, n_estimators=186,
                          random_state=126, subsample=0.9)

In [871]:
from sklearn.metrics import r2_score
print(r2_score(y_train ,gd_model.predict(x_train)))
print(r2_score(y_test ,gd_model.predict(x_test)))

0.16300420338332677
0.17331488557608754

In [872]:
from sklearn.metrics import r2_score
print(r2_score(y_train ,gd_model.predict(x_train)))
print(r2_score(y_test ,gd_model.predict(x_test)))

0.16300420338332677
0.17331488557608754

In [873]:
from sklearn.ensemble import HistGradientBoostingRegressor
est = HistGradientBoostingRegressor(loss='squared_error', quantile=None, learning_rate=0.08,
                                    max_iter=285, max_leaf_nodes=7, 
                                    max_depth=3, min_samples_leaf=5, 
                                    l2_regularization=0.6, max_bins=255, 
                                    categorical_features=None,
                                    monotonic_cst=None, interaction_cst=None,
                                    warm_start=False,
                                    early_stopping='auto', scoring='loss',
                                    validation_fraction=0.1,
                                    n_iter_no_change=10, tol=1e-07,
                                    verbose=0, random_state=None)
est.fit(x_train, y_train)

HistGradientBoostingRegressor(l2_regularization=0.6, learning_rate=0.08,
                              max_depth=3, max_iter=285, max_leaf_nodes=7,
                              min_samples_leaf=5)

In [874]:
from sklearn.metrics import r2_score
print(r2_score(y_train ,est.predict(x_train)))
print(r2_score(y_test ,est.predict(x_test)))

0.16048626777005526
0.17254843892076543

## LGBMRegressor

In [875]:
from lightgbm import LGBMRegressor
lightgbm_model = LGBMRegressor(objective='regression', 
                                       num_leaves=7,
                                       learning_rate=0.2, 
                                       n_estimators=185,
                                       max_bin=20, 
                                       bagging_fraction=0.75,
                                       bagging_freq=5, 
                                       bagging_seed=7,
                                       feature_fraction=0.2,
                                       feature_fraction_seed=7,
                                       verbose=-1,
                                       )
lightgbm_model.fit(x_train, y_train)

[LightGBM] [Warning] feature_fraction is set=0.2, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.2
[LightGBM] [Warning] bagging_fraction is set=0.75, subsample=1.0 will be ignored. Current value: bagging_fraction=0.75
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5

LGBMRegressor(bagging_fraction=0.75, bagging_freq=5, bagging_seed=7,
              feature_fraction=0.2, feature_fraction_seed=7, learning_rate=0.2,
              max_bin=20, n_estimators=185, num_leaves=7,
              objective='regression', verbose=-1)

In [876]:
from sklearn.metrics import r2_score
print(r2_score(y_train ,lightgbm_model.predict(x_train)))
print(r2_score(y_test ,lightgbm_model.predict(x_test)))

0.16062895069859728
0.17182299104963983

In [878]:
from sklearn import metrics
import scipy.stats as stats

In [879]:
MSE_train = metrics.mean_squared_error(y_train ,gd_model.predict(x_train))
print('MSE_train',MSE_train)
MSE_test = metrics.mean_squared_error(y_test,gd_model.predict(x_test))
print('MSE_test',MSE_test)

MSE_train 6849488547.8708935
MSE_test 6877988171.351126

## Voting Classifer

In [880]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.81, random_state=84)
x_train.shape, y_train.shape, x_test.shape,y_test.shape

((72407, 22), (72407,), (16985, 22), (16985,))

In [881]:
from sklearn.ensemble import VotingRegressor

In [882]:
# Create a Dictionary (Key->Value Pairs) Model-> Model Functions with Hyper-Parameters :

regressor = {'0.XGBoost' : GradientBoostingRegressor(alpha=0.18, ccp_alpha=0.0,
                          init=None, learning_rate=0.09, max_depth=7,
                          max_features=7, max_leaf_nodes=6,
                            min_impurity_decrease=0.0,
                          min_samples_leaf=6, min_samples_split=5,
                          min_weight_fraction_leaf=0.0, n_estimators=186,
                          n_iter_no_change=None,
                          random_state=126, subsample=0.9, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False),
                            
               '1.HGBBoost' : HistGradientBoostingRegressor( quantile=None, learning_rate=0.9,
                                    max_iter=285, max_leaf_nodes=7, 
                                    max_depth=7, min_samples_leaf=5, 
                                    l2_regularization=0.9, max_bins=255, 
                                    categorical_features=None,
                                    monotonic_cst=None, interaction_cst=None,
                                    warm_start=False,
                                    early_stopping='auto', scoring='loss',
                                    validation_fraction=0.1,
                                    n_iter_no_change=10, tol=1e-07,
                                    verbose=0, random_state=None),
               
               '2.LightGBM' : LGBMRegressor(objective='regression',max_depth=-7,
                                       num_leaves=31,
                                       learning_rate=0.6, 
                                       n_estimators=186,
                                       max_bin=20, 
                                       bagging_fraction=0.75,
                                       bagging_freq=3, 
                                       bagging_seed=5,
                                       feature_fraction=0.2,
                                       feature_fraction_seed=7,
                                       verbose=-1,)
 }

In [883]:
voting_model = VotingRegressor(estimators=[
                                              ('XGBoost_Best', list(regressor.values())[0]), 
                                              ('HGBBoost_Best', list(regressor.values())[1]),
                                              ('LightGBM_Best', list(regressor.values())[2]),
                                             ], 
                                              weights=[17.53,3.47,5.9] ,n_jobs=4)
voting_model.fit(x_train,y_train)

VotingRegressor(estimators=[('XGBoost_Best',
                             GradientBoostingRegressor(alpha=0.18,
                                                       learning_rate=0.09,
                                                       max_depth=7,
                                                       max_features=7,
                                                       max_leaf_nodes=6,
                                                       min_samples_leaf=6,
                                                       min_samples_split=5,
                                                       n_estimators=186,
                                                       random_state=126,
                                                       subsample=0.9)),
                            ('HGBBoost_Best',
                             HistGradientBoostingRegressor(l2_regularization=0.9,
                                                           learning_rate=0.9,
                                                           max_depth=7,
                                                           max_iter=285,
                                                           max_leaf_nodes=7,
                                                           min_samples_leaf=5)),
                            ('LightGBM_Best',
                             LGBMRegressor(bagging_fraction=0.75,
                                           bagging_freq=3, bagging_seed=5,
                                           feature_fraction=0.2,
                                           feature_fraction_seed=7,
                                           learning_rate=0.6, max_bin=20,
                                           max_depth=-7, n_estimators=186,
                                           objective='regression',
                                           verbose=-1))],
                n_jobs=4, weights=[17.53, 3.47, 5.9])

In [884]:
print(r2_score(y_train,voting_model.predict(x_train)))
print(r2_score(y_test,voting_model.predict(x_test)))

0.16668391497744084
0.17365181337015867

In [828]:
print(r2_score(y_train,voting_model.predict(x_train)))
print(r2_score(y_test,voting_model.predict(x_test)))

0.16701674727292504
0.1739310149163441

In [ ]:
#voting 0.16694611080130073 0.17385816633861695

In [829]:
test_pred_final=pd.DataFrame(voting_model.predict(df_final_test)).reset_index(drop=True)

sub=pd.DataFrame({
        "id": df_test["id"],
        "cltv":round(test_pred_final[0],2)})
sub.to_csv("submission_voting_model_best_2.csv",index = False)

In [830]:
sub.head()

      id       cltv
0  89393   94638.73
1  89394  128362.27
2  89395   94877.40
3  89396   87693.79
4  89397  125408.85